{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{% static 'sierra/img/fav-icon.png' %}" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>潛在競爭者</title>

        <!-- Icon css link -->

        <link href="{% static 'sierra/css/font-awesome.min.css' %}" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="{% static 'sierra/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Rev slider css -->
        <link href="{% static 'sierravendors/revolution/css/settings.css' %}" rel="stylesheet">
        <link href="{% static 'sierra/vendors/revolution/css/layers.css' %}" rel="stylesheet">
        <link href="{% static 'sierra/vendors/revolution/css/navigation.css' %}" rel="stylesheet">

        <!-- Extra plugin css -->
        <link href="{% static 'sierra/vendors/owl-carousel/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'sierra/vendors/magnify-popup/magnific-popup.css' %}" rel="stylesheet">


        <link href="{% static 'sierra/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'sierra/css/responsive.css' %}" rel="stylesheet">



        <title>潛在競爭者</title>

        <!-- Icon css link -->
        <!-- Bootstrap -->
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

        <!-- ADDED -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109921688-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-109921688-1');
        </script>

        <!-- ADDED -->

    </head>
    <body>

        <!--================Header Menu Area =================-->
        <header class="main_menu_area">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">

                <a class="navbar-brand" href="#"><img src="{% static 'sierra/img/logo.png' %}" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/home/" style="font-family: Microsoft JhengHei;">首頁</a></li>
                        <li class="nav-item"><a class="nav-link" href="/home/tendsearch/" style="font-family: Microsoft JhengHei;">標案搜尋</a></li>
                        <li class="nav-item"><a class="nav-link" href="/home/competitor/" style="font-family: Microsoft JhengHei;">競爭者分析</a></li>
                        <li class="nav-item"><a class="nav-link" href="/home/predict/" style="font-family: Microsoft JhengHei;">潛在競爭者</a></li>

                        <li class="nav-item"><a class="nav-link" href="/home/example/" style="font-family: Microsoft JhengHei;">企業分析範例</a></li>

                    </ul>
                </div>
            </nav>
        </header>
        <!--================End Header Menu Area =================-->

        <!--================頁面標題=================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_text">
                    <h2>Potential Competitor</h2>
                    <p style="font-family: Microsoft JhengHei;font-weight:bolder;">&nbsp;企業潛在競爭者分析</p>
                </div>
            </div>
        </section>
        <!--================End 頁面標題 =================-->

        <!--================公司搜尋頁面 =================-->
        <section class="service_feature">
            <div class="container">
                    <!--==搜尋框==-->

                    <div class="search_box">

                        <ui>
                            <div class="search_bar">
                                <form method="get" action="/home/analytic/" style="font-family: Microsoft JhengHei;font-size: 18px;">
                                    <li><strong>潛在競爭者－公司名稱：</strong><input type="type" name="query" placeholder="輸入公司全名">
                                    <button type="submit">搜尋</button></li>
                                </form>

                            </div>

<!--
                            <div class="search_bar" >
                                <form method="get" action="/home/analyticid/" style="font-family: Microsoft JhengHei;font-size: 18px;">
                                    <li><strong>潛在競爭者－統一編號：</strong><input type="type" name="query" placeholder="輸入統一編號">
                                    <button type="submit">搜尋</button></li>
                                </form>
                            </div> -->
                        </ui>
                    </div>
                    <div class="show_text" style="width: 50%;" >
                            <section class="world_map_area p_100">
                                    <div class="world_map_inner">
                                        <div class="bd-callout">
                                            <br><br><br>
                                            <h3 style="font-family: Microsoft JhengHei;"><strong>使用方式</strong></h3>
                                            <h3 style="font-family: Microsoft JhengHei;">請在左側欄位輸入欲查詢之公司名稱 </h3>
                                            <h3 style="font-family: Microsoft JhengHei;">例如：「盈盈工程行」、「佳運來有限公司」等</h3>
                                            <h3 style="font-family: Microsoft JhengHei;">請留意需輸入完整公司名稱，以利查詢。</h3>
                                        </div>
                                    </div>

                            </section>
                    </div>
            </div>
        </section>
        <!--================End 公司搜尋頁面 =================-->

        <!--================公司查詢結果 =================-->
        <section class="circle_chart_area">
            <div class="container"></div>
            <div class="container">

            </div>
        </section>
        <!--================End 查詢結果 =================-->

        <!--================Footer Area =================-->
        <footer class="footr_area">

            <div class="footer_copyright">
                <div class="container">
                    <div class="float-sm-left">
                        <h5><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></h5>
                    </div>

                </div>
            </div>
        </footer>
        <!--================End Footer Area =================-->

        <link href="{% static 'sierra/vendors/revolution/css/layers.css' %}" rel="stylesheet">

         <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
         <script src="{% static 'sierra/js/jquery-3.2.1.min.js' %}"></script>
         <!-- Include all compiled plugins (below), or include individual files as needed -->
         <script src="{% static 'sierra/js/popper.min.js' %}"></script>
         <script src="{% static 'sierra/js/bootstrap.min.js' %}"></script>
         <!-- Rev slider js -->
         <script src="{% static 'sierra/vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
         <script src="{% static 'sierra/vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
         <script src="{% static 'sierra/vendors/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
         <script src="{% static 'sierra/vendors/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
         <script src="{% static 'sierra/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
         <script src="{% static 'sierra/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
         <script src="{% static 'sierra/vendors/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
         <script src="{% static 'sierra/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
         <!-- Extra plugin css -->
         <script src="{% static 'sierra/vendors/counterup/jquery.waypoints.min.js' %}"></script>
         <script src="{% static 'sierra/vendors/counterup/jquery.counterup.min.js' %}"></script>
         <script src="{% static 'sierra/vendors/counterup/apear.js' %}"></script>
         <script src="{% static 'sierra/vendors/counterup/countto.js' %}"></script>
         <script src="{% static 'sierra/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
         <script src="{% static 'sierra/vendors/magnify-popup/jquery.magnific-popup.min.js' %}"></script>
         <script src="{% static 'sierra/js/smoothscroll.js' %}"></script>
         <script src="{% static 'sierra/vendors/circle-bar/circle-progress.min.js' %}"></script>
         <script src="{% static 'sierra/vendors/circle-bar/plugins.js' %}"></script>

         <script src="{% static 'sierra/js/circle-active.js' %}"></script>
         <script src="{% static 'sierra/js/theme.js' %}"></script>


        <script>
            $.get('https://pcc.g0v.ronny.tw/api/getinfo', function(r){
                    for (var key in r) {
                        if (key.match('時間')) {
                            var d = new Date(r[key]);
                            var yyyymmdd = d.getFullYear() + ('00' + (d.getMonth() + 1)).slice(-2) + ('00' + d.getDate()).slice(-2);
                            $('#status').append($('<li></li').text(key + '：').append($('<a></a>').attr('href', 'date/?date=' + yyyymmdd).text(yyyymmdd)));
                        } else {
                            $('#status').append($('<li></li').text(key + '：' + r[key]));
                        }
                    }
            }, 'json');
            </script>
    </body>
</html>
